body {
    background-color: #edecec;
}

img {
    width: 300px;
}
.section-info {
    background-color: #939393;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-map {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    background-color: #939393;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    .embedded-map {
        float: right;
        iframe {
            border: 2px solid #000;
            border-radius: 10px;
            width: 250px;
            height: 150px;
        }
    }
}

.section-with-img {
    background-color: #939393;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    img {
        display: block;
        margin: 0 auto;
        width: 150px;
        height: auto;
    }
}
.section-with-img p {
    text-align: center;
    font-weight: bold;
}
.section-with-img img {
    margin-top: 10px;
}
.section-with-img img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.section-with-img img:active {
    transform: scale(0.9);
    transition: transform 0.1s ease;
}

.subsection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fotografias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    img {
        width: 150px;
        border-radius: 20px;
    };
}  

.section-poem {
    background-color: #939393;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    p {
        font-style: italic;
        text-align: center;
        line-height: 1.5;
    }
    p:nth-child(odd) {
        color: #07073e;
    }
    p:nth-child(even) {
        color: #076310;
    }
}   